@import url(./reset.css);
@import url(./global.css);
@import url(./home.css);

body {
    background-color: var(--primary-color);
    margin: 20px
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/*ICONE DA LOGO*/
.logo-Menu {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 1px black;
    align-items: center;
    display: flex;
}

/* Esconde o hamburguer no desktop */
.hamburger {
  display: none;
  width: 35px;
  height: auto;
  cursor: pointer;
}







/* --- Mobile --- */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* aparece só no mobile */
  }

  .menuHome ul {
    display: none; /* esconde menu no mobile */
    flex-direction: column;
    background: var(--primary-color);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    gap: 15px;
  }

  .menuHome ul.show {
    display: flex; /* aparece quando clicar no hamburguer */
  }
}

