
/*Container TOTAL*/
.me-container {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    
}

/*LADO ESQUERDO*/
.container-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    width: 50%;
    gap: 10px;
    top: 30px;

}
/*ÍCONE*/
.icon-arrow{
    padding: 0;
    margin: 0;
}
.arrow {
    width: 90px;
    height: 90px;
    margin-left: 50%;
}

/*TITULO*/
.title-container {
    margin-left: 50px;
}

.title-container h1 {
    color: black;
    font-size: clamp(40px, 8vw, 90px);
    font-weight: bold;
}
.title-container img {
    width: 80px;
    height: 80px;
    padding-top: 15px;
}

/*PARÁGRAFO*/
.text-container{
    max-width: 90%;
    margin-left: 50px;
}
.text-container p {
    text-align: left;
    line-height: 1.5; /*para melhorar leitura em telas grandes.*/
}


/*LADO DIREITO*/
.container-right{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}
.background-right {
    position: relative;   /* referência para a foto */
    top: 30px;
    height: 57vh;
    width: 20vw;
    margin-left: 80px;
    border-radius: 10%;
    border: solid 2px black;
    background-color: var(--detail-color);
     position: relative;
     z-index: 2; /* fica por baixo do menu */
}

/*FOTO*/

.alanesPhoto {
    position: absolute;
    top: -30px;   /* sobe um pouco para vazar */
    left: -50px;  /* desloca para a esquerda */
    width: 90%;  /* maior que a caixa para dar efeito */
    border: solid 2px black;
    border-radius: 10%;
}